/* Google Fonts - Montserrat (Light, Normal, Semibold) */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

// VARIABLES

// Tipografías
$main-font: "Montserrat", Helvetica, Arial, sans-serif;
$alt-font: "Georgia", "Times New Roman", serif;

// Colores
$blanco: #fff;
$negro:#000;
$gris-oscuro:#454341;
$gris-claro:#D4D5D3;
$verde:#B1D398;