footer {
    background: url(../img/footer-bg.jpg)no-repeat;
    background-size: cover;
    color: $blanco;
    padding:1.5rem 1rem;
    .altMenu {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        img {
            max-width: 130px;
        }
        ul {
            margin:0;
            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1.2em;
                    font-weight: 300;
                    padding:0.8rem;
                    display: inline-block;
                    transition: all 0.2s linear;
                    &:hover {
                        color:$verde-claro;
                    }
                }
            }
        }
    }
    .copy {
        text-align: center;
        margin-top:7rem;
        p {
            margin: 0;
            font-weight: 300;
            font-size: 1.2em;
        }
    }
}
