header {
    .topBar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: $verde-claro;
        color: $blanco;
        padding: 0 1rem;
        .promo {
            padding: 0.5rem 0;
            max-width:180px;
            p {
                margin: 0;
                text-align: center;
                text-transform: uppercase;
                font-size:1.6em;
            }
        }
        .social {
            text-align: center;
            padding: 1rem 0;
            a {
                font-size: 2em;
                margin-left: 0.5rem;
                opacity: 0.75;
                transition: all 0.2s linear;
                color:$blanco;
                &:first-of-type {
                    margin-left: 0;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    #mainNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 1.5rem;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        .logo {
            max-width: 175px;
            img {
                max-width: 100%;
            }
        }
        .toggle a,
        .cart a {
            font-size: 2.5em;
        }
        .menu {
            position: absolute;
            height: 100vh;
            top: 7.8rem;
            left: 0;
            right: 0;
            background: $blanco;
            width: 100%;
            padding: 0 1.5rem;
            display: none;
            z-index:99;
            border-top:1px solid $gris-claro;
            ul {
                li {
                    display: block;
                    text-align: center;
                    padding-bottom:10px;
                    border-bottom:1px solid $verde-claro;
                    transition:all 0.2s linear;
                    cursor:pointer;
                    &:hover {
                        background:$verde-claro;
                        a {
                            color:$blanco;
                        }
                    }
                    a {
                        text-decoration: none;
                        padding: 20px 0 10px;
                        display: block;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

@media all and (min-width:415px) {
    header {
        .topBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
