/* HELPERS */
/* Google Fonts - Montserrat (Light, Normal, Semibold) */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
/* ESTILOS GENERALES */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 10px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #454341; }

h4 {
  font-size: 2em; }

p {
  font-size: 1.6em; }

a {
  color: inherit;
  font-size: 1.6em; }

ul {
  list-style-type: none;
  padding-left: 0; }

/* LAYOUT */
footer {
  background: url(../img/footer-bg.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  padding: 1.5rem 1rem; } /*REM=Relative to font-size of the root element*/
  footer .altMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    footer .altMenu img {
      max-width: 130px; }
    footer .altMenu ul {
      margin: 0; }
      footer .altMenu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 300;
        padding: 0.8rem;
        display: inline-block;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        footer .altMenu ul li a:hover {
          color: #B1D398; }
  footer .copy {
    text-align: center;
    margin-top: 7rem; }
    footer .copy p {
      margin: 0;
      font-weight: 300;
      font-size: 1.2em; }

header .topBar {
  background: #B1D398;
  color: #fff;
  padding: 0 1rem; }
  header .topBar .promo {
    padding: 1rem 0; }
    header .topBar .promo p {
      font-size: 1.5em;
      margin: 0;
      text-align: center; }
  header .topBar .social {
    text-align: center;
    padding: 1rem 0; }
    header .topBar .social a {
      font-size: 2em;
      margin-left: 0.5rem;
      opacity: 0.75;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      header .topBar .social a:first-of-type {
        margin-left: 0; }
      header .topBar .social a:hover {
        opacity: 1; }

header #mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 1.5rem;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); }
  header #mainNav .logo {
    max-width: 175px; }
    header #mainNav .logo img {
      max-width: 100%; }
  header #mainNav .toggle a,
  header #mainNav .cart a {
    font-size: 2.5em; }
  header #mainNav .menu {
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    background: #D4D5D3;
    width: 100%;
    padding: 0 1.5rem;
    display: none; }
    header #mainNav .menu ul li {
      display: block;
      text-align: center;
      margin: 5px 0; }
      header #mainNav .menu ul li a {
        text-decoration: none;
        padding: 10px;
        display: inline-block; }

@media all and (min-width: 415px) {
  header .topBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

/* PAGES */
/* Borrar cuando haya contenido real en el Home*/
.borrame {
  height: 1200px; }

/* /Borrar cuando haya contenido real en el Home*/
.newsletter {
  background: #D4D5D3;
  text-align: center;
  padding: 2rem 1.5rem; }
  .newsletter-title {
    text-transform: uppercase;
    font-size: 1.6em; }
  .newsletter form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .newsletter form .formField {
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      font-size: 1.4em;
      border: 1px solid #ccc; }
    .newsletter form .formBtn {
      width: 35%;
      margin: 0 auto;
      font-size: 1.5em;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      background: #B1D398;
      padding: 1rem 0;
      cursor: pointer;
      color: #454341;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .newsletter form .formBtn:hover {
        background: #454341;
        color: #B1D398; }
