@charset "UTF-8";
/* HELPERS */
/* Google Fonts - Montserrat (Light, Normal, Semibold) */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
/* ESTILOS GENERALES */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 10px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #413F3D; }

h1 {
  margin: 0; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4, h5, h6 {
  font-size: 1.8em; }

p {
  font-size: 1.8em;
  line-height: 1.6em;
  font-weight: 300;
  font-weight: 300; }

a {
  font-size: 1.8em;
  color: inherit;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #413F3D; }
  a:hover {
    color: #B1D398; }

ul {
  list-style-type: none;
  padding-left: 0; }

.main-title {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 3em; }

.alt-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #B1D398; }

/* COMPONENTS */
.slider img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
  object-fit: cover; }

.slider .slick-dots {
  bottom: 10px; }
  .slider .slick-dots li button:before {
    font-size: 5rem; }

.deseados-slider .item {
  margin: 0 0.5rem; }
  .deseados-slider .item img {
    width: 100%; }
  .deseados-slider .item a {
    font-size: 1em; }
  .deseados-slider .item .deseados-title {
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    margin: 1rem 0 0.5rem; }
  .deseados-slider .item .deseados-price {
    margin: 0;
    font-size: 1.4em;
    text-align: center; }

.deseados-slider .slick-prev,
.deseados-slider .slick-next {
  font-size: 2em;
  color: #413F3D;
  top: 45%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .deseados-slider .slick-prev:hover,
  .deseados-slider .slick-next:hover {
    color: #73A84D; }

.deseados-slider .slick-prev:before,
.deseados-slider .slick-next:before {
  display: none; }

@media all and (min-width: 400px) {
  .deseados-slider .slick-prev,
  .deseados-slider .slick-next {
    top: 35%; } }

@media all and (min-width: 575px) {
  .slider img {
    height: 350px; } }

@media all and (min-width: 768px) {
  .slider img {
    height: 420px; } }

@media all and (min-width: 991px) {
  .slider img {
    height: 480px; } }

@media all and (min-width: 1200px) {
  .slider img {
    height: 520px; } }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  form .formField {
    padding: 1.7rem 1.7rem;
    margin-bottom: 2rem;
    font-size: 1.8em;
    font-weight: 300;
    border: 0px solid #707070; }
    form .formField.contacto {
      border: 1px solid #707070; }
  form ::-webkit-input-placeholder {
    color: #E3E3E3; }
  form :-ms-input-placeholder {
    color: #E3E3E3; }
  form ::-ms-input-placeholder {
    color: #E3E3E3; }
  form ::placeholder {
    color: #E3E3E3; }
  form .formBtn {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    background: #B1D398;
    padding: 1.5rem 0;
    cursor: pointer;
    color: #413F3D;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    form .formBtn:hover {
      background: #413F3D;
      color: #B1D398; }
    form .formBtn.gris {
      background: #707070;
      color: #fff; }
      form .formBtn.gris:hover {
        background: #413F3D; }
    form .formBtn.verde {
      background: #73A84D;
      color: #fff; }
      form .formBtn.verde:hover {
        background: #73A84D; }

input[type=checkbox] {
  visibility: hidden; }

/* LAYOUT */
footer {
  background: url(../img/footer-bg.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  padding: 3rem 1rem 1.5rem; }
  footer .altMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    footer .altMenu img {
      max-width: 130px; }
    footer .altMenu ul {
      margin: 0; }
      footer .altMenu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 300;
        padding: 0.8rem;
        display: inline-block;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        color: #fff; }
        footer .altMenu ul li a:hover {
          color: #B1D398; }
  footer .copy {
    text-align: center;
    margin-top: 7rem; }
    footer .copy p {
      margin: 0;
      font-weight: 300;
      font-size: 1.2em; }

@media all and (min-width: 575px) {
  footer {
    font-size: 1.2em; }
    footer .altMenu img {
      max-width: 170px; } }

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #B1D398;
  color: #fff;
  padding: 0 1.5rem; }
  .topBar .promo {
    padding: 0.5rem 0;
    max-width: 180px; }
    .topBar .promo p {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5em;
      line-height: 1em; }
  .topBar .social {
    text-align: center;
    padding: 1rem 0; }
    .topBar .social a {
      font-size: 1.8em;
      margin-left: 1rem;
      opacity: 0.75;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      color: #fff; }
      .topBar .social a:first-of-type {
        margin-left: 0; }
      .topBar .social a:hover {
        opacity: 1; }

#mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 1.5rem;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 100; }
  #mainNav .bloqueDer a {
    font-size: 2em;
    margin-left: 1rem;
    padding: 0.5rem; }
    #mainNav .bloqueDer a:last-child {
      padding-right: 0; }
    #mainNav .bloqueDer a:first-child {
      margin-left: 0; }
  #mainNav .bloqueIzq,
  #mainNav .bloqueDer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #mainNav .toggle {
    padding: 0.8rem 1rem 0.5rem 0;
    font-size: 2em; }
  #mainNav .logo {
    max-width: 125px;
    margin-left: 0.5rem; }
    #mainNav .logo a {
      font-size: 0; }
    #mainNav .logo img {
      max-width: 100%; }
  #mainNav .menu {
    position: absolute;
    height: 100vh;
    top: 6.2rem;
    left: 0;
    right: 0;
    background: #fff;
    width: 100%;
    padding: 0 1.5rem;
    z-index: 99;
    border-top: 1px solid #E3E3E3; }
    #mainNav .menu.mobile {
      display: none; }
    #mainNav .menu ul li {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.6em;
      padding-bottom: 10px;
      border-bottom: 1px solid #B1D398;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      cursor: pointer; }
      #mainNav .menu ul li:hover {
        background: #B1D398; }
        #mainNav .menu ul li:hover a {
          color: #fff; }
      #mainNav .menu ul li a {
        text-decoration: none;
        padding: 20px 0 10px;
        display: block;
        text-transform: uppercase;
        font-size: 1em; }
  #mainNav .userMenu {
    position: absolute;
    top: 6.8rem;
    right: 1rem;
    border: 1px solid #acacac;
    border-radius: 4px;
    background: #fff;
    padding: 1rem 2rem;
    z-index: 99; }
    #mainNav .userMenu:after {
      content: "";
      position: absolute;
      top: -1.5rem;
      left: 6.3rem;
      border-style: solid;
      border-width: 0 10px 15px 10px;
      border-color: transparent transparent #fff transparent; }
    #mainNav .userMenu:before {
      content: "";
      position: absolute;
      top: -1.6rem;
      left: 6.3rem;
      border-style: solid;
      border-width: 0 10px 15px 10px;
      border-color: transparent transparent #848382 transparent; }
    #mainNav .userMenu.mobile {
      display: none; }
    #mainNav .userMenu ul {
      margin: 0; }
      #mainNav .userMenu ul li {
        text-align: center; }
        #mainNav .userMenu ul li:last-child a {
          border: none; }
        #mainNav .userMenu ul li a {
          text-decoration: none;
          display: block;
          font-size: 1.6em;
          padding: 1rem 0;
          border-bottom: 1px solid #707070; }

/* Fix para el texto de promo */
@media all and (min-width: 370px) {
  .topBar .promo {
    max-width: none; }
  #mainNav .logo {
    max-width: 135px;
    margin-left: 1rem; } }

@media all and (min-width: 400px) {
  .topBar {
    font-size: 1.1em; }
  .bloqueDer {
    font-size: 1.3em; }
  #mainNav .logo {
    max-width: 160px;
    margin-left: 1.5rem; }
  #mainNav .toggle {
    font-size: 2.4em; }
  #mainNav .menu {
    top: 7rem; }
  #mainNav .userMenu {
    top: 7.2rem; }
    #mainNav .userMenu:after, #mainNav .userMenu:before {
      left: 6.8rem; }
    #mainNav .userMenu ul li a {
      font-size: 1.4em; } }

@media all and (min-width: 575px) {
  .topBar {
    padding: 0 3rem; }
    .topBar .social a {
      margin-left: 2rem; }
  #mainNav {
    padding: 1.5rem 3rem; }
    #mainNav .logo {
      margin-left: 2rem; }
    #mainNav .bloqueDer a {
      margin-left: 2rem; }
    #mainNav .userMenu {
      top: 7.2rem;
      padding: 1rem 3rem; }
      #mainNav .userMenu:after, #mainNav .userMenu:before {
        left: 7rem; }
      #mainNav .userMenu ul li a {
        font-size: 1.5em; } }

@media all and (min-width: 768px) {
  #mainNav .toggle {
    display: none; }
  #mainNav .logo {
    margin-left: 0;
    max-width: 200px; }
  #mainNav .menu {
    height: auto;
    position: static;
    border: none; }
    #mainNav .menu.mobile {
      display: block; }
    #mainNav .menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      #mainNav .menu ul li {
        text-align: left;
        border: none;
        padding: 0; }
        #mainNav .menu ul li.mobile {
          display: none; }
        #mainNav .menu ul li:hover {
          background: none; }
          #mainNav .menu ul li:hover a {
            color: #B1D398; }
        #mainNav .menu ul li a {
          padding: 0 0.5rem;
          display: inline-block;
          margin-left: 1rem; } }

@media all and (min-width: 991px) {
  #mainNav {
    padding: 1rem 5rem; }
    #mainNav .userMenu {
      top: 6.3rem; }
      #mainNav .userMenu:after, #mainNav .userMenu:before {
        left: 5.8rem; }
      #mainNav .userMenu ul li a {
        font-size: 1.6em; }
  .topBar {
    padding: 0 5rem; } }

/* PAGES */
.newsletter {
  background: #E3E3E3;
  text-align: center;
  padding: 3rem 2rem 4rem; }
  .newsletter-info {
    margin-top: 0;
    font-weight: 100; }

.deseados {
  padding: 1rem 3rem; }
  .deseados .main-title {
    margin-bottom: 2em; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  border-top: 2px solid #B1D398;
  border-bottom: 2px solid #B1D398;
  padding: 2rem 0;
  margin: 4rem 0; }
  .features-item {
    margin: 3rem 0; }
  .features-icon {
    font-size: 5em; }
  .features-title {
    margin: 1rem 0 0;
    font-size: 1.5em;
    text-transform: uppercase; }

.ambientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  padding: 0;
  text-align: center; }
  .ambientes a {
    position: relative;
    display: block;
    width: 100%;
    font-weight: 300;
    font-size: 0; }
    .ambientes a:hover .overlay {
      background: rgba(0, 0, 0, 0); }
    .ambientes a img {
      width: 100%; }
    .ambientes a .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .ambientes a .overlay h4 {
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 300;
        font-size: 4.5rem;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .ambientes .main-title {
    margin: 1rem 0 5rem;
    width: 100%; }

@media all and (min-width: 575px) {
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .features-item {
      margin: 3rem 1rem; }
    .features-icon {
      font-size: 4em; }
    .features-title {
      font-size: 1.3em; }
  .ambientes a {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(100%/2);
    height: 100%; }
    .ambientes a .overlay h4 {
      font-size: 3.5rem; }
  .newsletter .container {
    max-width: 565px;
    margin: 0 auto; } }

@media all and (min-width: 768px) {
  .ambientes a {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(100%/3);
    height: 100%; }
    .ambientes a .overlay h4 {
      font-size: 3.5rem; } }

@media all and (min-width: 991px) {
  .features {
    max-width: 980px;
    margin: 8rem auto; }
    .features-item {
      width: 200px;
      margin: 3rem 0; }
    .features-icon {
      font-size: 5em; }
    .features-title {
      margin-top: 2rem; } }

.login {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .login .container {
    background: #fff;
    padding: 0rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .login .container a {
      font-size: 1em;
      color: #73A84D; }
      .login .container a:hover {
        color: #413F3D; }
    .login .container-checkbox {
      width: 25px;
      margin: 20px 0;
      position: relative; }
      .login .container-checkbox label {
        cursor: pointer;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        background: #fff; }
        .login .container-checkbox label:after {
          opacity: 0.5;
          content: '';
          position: absolute;
          width: 9px;
          height: 5px;
          background: transparent;
          top: 6px;
          left: 7px;
          border: 3px solid #707070;
          border-top: none;
          border-right: none;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .login .container-checkbox label:hover::after {
          opacity: 1; }
        .login .container-checkbox label p {
          margin: 0 2em; }
    .login .container-form {
      padding: 2rem;
      background: #E3E3E3; }
    .login .container-forgot {
      background: #fff; }
    .login .container.aside {
      background: #fff;
      font-size: 1em;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 2em; }
      .login .container.aside p {
        margin-top: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; }

@media only screen and (min-width: 768px) {
  .login {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 6rem 8rem; }
    .login .container {
      background: #fff;
      padding: 0rem;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .login .container a {
        font-size: 1em;
        color: #73A84D; }
      .login .container-form {
        padding: 2rem;
        background: #E3E3E3; }
      .login .container-forgot {
        background: #fff; }
      .login .container.aside {
        background: #fff;
        font-size: 1em;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 2em; }
        .login .container.aside p {
          margin-top: 1rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem; } }

@media only screen and (min-width: 992px) {
  .login {
    text-align: center;
    padding: 6rem 14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .login .container {
      background: #fff;
      padding: 0rem;
      min-width: 400px; }
      .login .container a {
        font-size: 1em;
        color: #73A84D; }
      .login .container-form {
        padding: 2rem;
        background: #E3E3E3; }
      .login .container-forgot {
        background: #fff; }
        .login .container-forgot a {
          font-size: 0.9em; }
      .login .container.aside {
        background: #fff;
        font-size: 1.3em;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; } }

.preguntas-frecuentes {
  text-align: center;
  padding: 50px 15px; }
  .preguntas-frecuentes .alt-title {
    max-width: 220px;
    line-height: 1.3em; }
  .preguntas-frecuentes p {
    padding-left: 7%;
    padding-right: 7%; }
  .preguntas-frecuentes .pregunta {
    font-weight: 600; }
  .preguntas-frecuentes .respuesta {
    font-size: 1.5em; }

/* Media query para que el título se expanda y ocupe un solo renglón */
@media all and (min-width: 440px) {
  .preguntas-frecuentes .alt-title {
    max-width: none;
    line-height: normal; }
  .preguntas-frecuentes p {
    text-align: left; } }
