.newsletter {
    background: $gris-claro;
    text-align: center;
    padding: 3rem 2rem 4rem;
    &-title {
        text-transform: uppercase;
        font-size: 1.6em;
    }
    &-info {
        margin-top: 0;
        font-weight: 100;
    }
}
/* Estilos para grilla de fotos sin espacio blanco entre las mismas */
.tus-ambientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 0;
    img {
        flex: 0 0 auto;
        width: calc(100%/2);
        height: 100%;
    }
    .main-title {
        margin: 15px;
        width: 100%;
    }
}

