.newsletter {
    background: $gris-claro;
    text-align: center;
    padding: 3rem 2rem 4rem;
    &-info {
        margin-top: 0;
        font-weight: 100;
    }
}
.deseados {
    padding:1rem 3rem;
    .main-title {
        margin-bottom:2em;
    }
}
.features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top:1px solid $verde-claro;
    border-bottom:1px solid $verde-claro;
    padding:2rem 0;
    margin:4rem 0;
    &-item {
        margin:0 1rem;
    }
    &-icon {
        font-size: 4.5em;
    }
    &-title{
        margin:1rem 0 0;
        font-size:1.2em;
        text-transform: uppercase;
    }
}
/* Estilos para grilla de fotos sin espacio blanco entre las mismas */
.ambientes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    padding: 0;
    img {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
    }
    .main-title {
        margin: 15px;
        width: 100%;
    }
    &-image{
      position: relative;
    }
    &-title{
      display: flex;
      position: absolute;
      left: 0;
      top:0px;
      font-size:1.2em;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.5);
      color: $blanco;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
}
@media only screen and (min-width:575px){
  .ambientes {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      padding: 0;
      img {
          flex: 0 0 auto;
          width: calc(100%/2);
          height: 100%;
      }
      .main-title {
          margin: 15px;
          width: 100%;
      }
  }
}
