.login{
  text-align: center;
  &-container{
    background: $gris-claro;
    padding: 3rem 2rem 4rem;
  }
  &-info{
    margin-top:0;
    font-weight: 100;
  }
  &-aside{
    text-align: center;
    padding: 0 2rem;
      a {
          font-size:1em;
      }
  }
}
@media only screen and (min-width:922px){
  .login{
    text-align: center;
    display: flex;
    flex-direction: row;
    &-container{
      background: $gris-claro;
      padding: 2rem 4rem 4rem;
      width: 600px;
      margin: 6rem auto 4rem;
      }
    &-aside{
      margin-bottom: 4rem;
    }
  }
}
