.login{
  text-align: center;
  display: flex;
  flex-direction: column;
  .container{
    background: $blanco;
    padding: 0rem;
    flex-grow: 1;
    a {
      font-size: 1em;
      color:$verde-oscuro;
      &:hover{
        color: $gris-oscuro;
      }
    }
    &-checkbox{
      width: 25px;
      margin: 20px 0;
      position: relative;
      input[type=checkbox]:checked + label:after {
        opacity: 1;
        border-color:red;
          /*Cuando le haces click, tilde rojo para que se note la diferencia (cambialo por lo que quieras) */
      }
      label{
        cursor: pointer;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        background: $blanco;
        &:after{
            /* El estado normal de la caja sin click */
          opacity: 0;
          content: '';
          position: absolute;
          width: 9px;
          height: 5px;
          background: transparent;
          top: 6px;
          left: 7px;
          border: 3px solid $gris-medio;
          border-top: none;
          border-right: none;
          transform: rotate(-45deg);
          transition:all 0.15s linear;
        }
        &:hover::after{
          opacity: 0.3;
            /* le puse un opacity más sutil y una transition arriba para que no sea tan duro el hover. */
          }
        p {
          margin: 0 2em;
        }

      }

    }
    &-form{
      padding: 2rem;
      background: $gris-claro;
    }
    &-forgot{
      background: $blanco;
    }
    &.aside{
      background: $blanco;
      font-size:1em;
      flex-grow: 1;
      padding: 2em;
      p {
        margin-top: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width:768px){
  .login{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 6rem 8rem;
    .container{
      background: $blanco;
      padding: 0rem;
      flex-grow: 1;
      a {
        font-size: 1em;
        color:$verde-oscuro;
      }
      &-form{
        padding: 2rem;
        background: $gris-claro;
      }
      &-forgot{
        background: $blanco;
      }
      &.aside{
        background: $blanco;
        font-size:1em;
        flex-grow: 1;
        padding: 2em;
        p {
          margin-top: 1rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
@media only screen and (min-width:992px){
  .login{
    text-align: center;
    padding: 6rem 14rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .container{
      background: $blanco;
      padding: 0rem;
      min-width:400px;
      a {
        font-size: 1em;
        color:$verde-oscuro;
      }
      &-form{
        padding: 2rem;
        background: $gris-claro;
      }
      &-forgot{
        background: $blanco;
        a{
          font-size:0.9em;
        }
      }
      &.aside{
        background: $blanco;
        font-size:1.3em;
        flex-grow: 1;
      }
    }
  }
}
