.container-micuenta{
  display:flex;
  flex-direction: column;
  padding: 4rem 2rem;
  a{
    display: block;
    font-size: 1.8em;
  }
  .avatar {
    text-align: center;
    img{
      margin: 0 auto;
      width: 300px;
      }
    }
  .info{
    text-align: center;
  }
  h1{
    font-size: 3.5em;
  }
  h2{
    font-size: 2em;
    font-weight: $normal;
  }
  .fa-smile{
    display: block;
    font-size: 16em;
    padding: 4rem;
  }  
}
@media all and (min-width:576px){
  .container-micuenta{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    .avatar img{
      width: 300px;
    }
    .info{
      flex-direction: column;
      margin-left: 2rem;
      text-align: left;
      .btn{
        margin: 0;
      }
      }
    h1{
      font-size: 3.5em;
    }
    h2{
      font-size: 2em;
      font-weight: $normal;
    }
    .fa-smile{
      display: block;
      font-size: 16em;
      padding: 4rem;
    }  
  }
}

