.micuenta{
  text-align: center;
  display: flex;
  flex-direction: column;
  h1{
    font-size: 3.5em;
  }
  h2{
    font-size: 2em;
    font-weight: $normal;
  }
  .container{
    padding: 4rem 2rem 4rem;
    background: $blanco;
    flex-grow: 1;
    &-cuenta{
      text-align: left;
      display: flex;
      flex-direction: column;
    }
    .fa-smile{
      display: block;
      font-size: 16em;
    }
    &-avatar{
      border-radius: 5px 40px 5px;
    }
  }
  .error {
    margin-bottom: 0;
  }
}
